footer{
    margin: 2% 0 5%;

    form{
        border-right: 1px solid rgba(128, 128, 128, 0.279);
    }
    
    .contact{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    label{
        margin: 2%;
        text-transform: uppercase;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        color: rgb(111, 111, 111);
        margin-left: 0;
        
    }
    .form-grid{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 80%;
        margin: 10%;
        align-items: flex-start;
    }
    textarea {
        resize: none;
        height: 180px;
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.21);
        border-radius: 5px;
      }
    input{
        width: 100%;
        height: 6%;
        margin-top: 3%;
        border: 1px solid rgba(128, 128, 128, 0.21);
        border-radius: 5px;
    }
    input.button{
        @include button;
        height: 10%;
        color: gray;
        border-color: gray;
        font-weight: 800;
        letter-spacing: 2px;
        margin-left: 0;
        border-radius: 0;
        width: 200px;
    }




}