header{
    @include margin;
    margin-top: 10%;

    h1{
       text-align: center;
       text-transform: uppercase;
       color: white;
       font-size: 60px;
       margin: 10% 20% 5% 20%;
       letter-spacing: 5px;
    }
    p{
        text-align: center;
        color: white;
        margin-bottom: 5%;
        font-family: 'Merriweather-italic',sans-serif;
    }
    a{
        color: white;
        border: 1px solid white;
        border-radius: 80px;
        padding:2%;
        margin: 0 auto;
        width: 20px;
        display: block;
        text-align: center;
    }
}

