nav {
    &:hover li:not(:hover){
        background: none;
        color: white;
    }
    background: rgba(0, 0, 0, 0.10);
    @include margin;
    margin-top: 10%;

    ul{
        display: flex;
        align-items: center;
        padding: 0 0;
        margin: 0 ;
        width: 50%;
        li{
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-weight: 800;  
            display: flex; 
            align-items: center;
            height: 100%;        
            padding: 0 15px;
            cursor: pointer;

            &:first-child{
                background: white;
                color: black;
            }
            
            
            &:hover{
                background: whitesmoke;
                transition: background-color 0.3s;
                color: black;
            }
        }
        
    }
    display: flex;
    justify-content: space-between;
    
}
