@media screen and (max-width: 600px){

    body{
        background-position: -600px;
    }
    header{
        h1{
            margin: 40% 0 0;
            letter-spacing: 8px;
            font-size: 40px;
        }
        a{
            font-size: 30px;
            width: 40px;
            margin: 0 auto;
            margin-top: 20%;
            margin-bottom: 20%;
        }  
        p{
            font-size: 20px;
        }         
    }
    nav{
        .socialnetwork{
            display: none;
        }
        ul{
            width: 100%;
            font-size: 12px;
        }
       
    }

section .date{
        grid-template-columns: 30% 40% 30%;
        align-items: baseline;
        .date-bottom{
            width: 100%;
            margin-top: 40%;
        }
    }
.textsection1 {
    h1{
        font-size: 30px;
        }
    p{
        margin: 0 auto;
        margin-bottom: 10%;
    }
    }
button{
    width: 50%;
    height: 50px;
    
}
.date-bottom{
    padding-top: 5%
}
.bottom{
    display: block;
    h1{
        font-size: 15px;
        margin: 3% 20%;
    }
    p{
        margin: 10% 20% auto 20%;
    }
}

footer{
    margin-top: 5%;
    .contact{
        display: block;
    }
    .form-grid{
        padding-top: 20%;
        .button{
            height: 60px;
            width: 200px;
        }
    }
    input{
        height: 60px;
    }
}

.identifiants{
    margin: 0;
        div{
        grid-template-columns: 25% 75%;
        }
        h3{
            font-size: 10px;
        }
        p{
            margin-right: 20%;
            font-size: 10px;
        }
        .socialnetwork{
            margin-right: 20%;
            justify-content: space-evenly;
            width: 100%;

        }
    }

}