.socialnetwork{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

     a{
        color: $white;
        
        padding: 63%;

        &:hover{
            background: whitesmoke;
            transition: background-color 0.3s;
            color: black;
        }
    }
    i{
        width: 100%;
    }
    
}