//index.scss rassemble tous les fichiers sass
@font-face {
    font-family: Merriweather;
    src: url(/asset/font/Merriweather-Light.ttf);
}
@font-face {
    font-family: MerriweatherSans-italic;
    src: url(/asset/font/MerriweatherSans-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: Inter;
    src: url(/asset/font/Inter-VariableFont_slnt,wght.ttf);
}


@import "./settings";
@import "./layout/navbar";
@import "./layout/header";
@import "./layout/section";
@import "./layout/footer";
@import "./components/socialnetwork";
@import "./components/line";
@import "./components/buttons";
@import "./components/form";
@import "./layout/phone";


